<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{users.message}"></h2>
		<p th:text="#{currentusers.message}"></p>
		<button type="button" id="deleteButton" class="btn btn-default"
			th:text="#{delete.message}"></button>
		<script th:inline="javascript">
		/*<![CDATA[*/ $( "#deleteButton" ).click(function() {   
			 
			 [[${usersList}]].forEach(function borrarSiChequeado(user) {
				 if($('#deleteChk'+user.id).prop('checked')) {
					 $("#tableUsers").load("/user/delete/" + user.id);
				 }
					 
			 }); 

			 });    
		/*]]>*/
		 </script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th th:text="#{email.word}"></th>
						<th th:text="#{name.message}"></th>
						<th th:text="#{surname.message}"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.email}">nombre@email.com</td>
						<td th:text="${user.name}">Nombre del usuario</td>
						<td th:text="${user.lastName}">Apellidos del usuario</td>
						<td><div>
								<form>
									<input type="checkbox" name="delete" value="delete"
										th:id="${'deleteChk' + user.id}"><label
										th:for="${'deleteChk' + user.id}" th:text="#{delete.message}"></label>
								</form>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />

</body>
</html>
